{% load static %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Organizer app</title>
</head>
<body>
<div style="text-align: center"><img src="{% static '/logo.png'%}"></div>
<div style="text-align: right">    {% if user.is_anonymous %}
        <p>You are not logged.</p>
        <p><a href="{% url 'login' %}">Login</a></p>
    {% else %}
        <p>You are logged as: {{ user.username }}</p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
    {% endif %}</div>
        <div>
                <ul>
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sign_in/">
                                <span>Sign in</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/create_family/">
                                <span>Create family</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/join_family/">
                                <span>Join to family</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/create_category/">
                                <span>Create category</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/create_activity/">
                                <span>Create activity</span>
                            </a>
                        </li>
                </ul></div>
{% block content %}
{% endblock %}
</body>
<footer>
    <p>You are member of:</p>
<ul>
    {%  for added_family in added_families %}
    <li>{{ added_family.family.family_name }}</li>
    {% endfor %}
</ul>
    <p>You are using an application, created by Przemysław Jackowski.</p>
</footer>
</html>