{% extends 'base.html' %}
{% block content %}
<h2>Plans in {{ family.family_name }} with {{ user.username }}</h2>
    <ol>
{% for plan in plans %}
    <li>{{ plan.user.username }}: {{ plan.activity.activity_name }}, {{ plan.day }}: {{ plan.start }} - {{ plan.finish }}. {{ plan.extra_info }}</li>
    {%  endfor %}
</ol>
    <h2>Events, where {{ user.username }} is participating</h2>
    <ol>
    {% for event in events %}
    <li>{{ event.event.activity.activity_name }}, {{ event.event.day }}: {{ event.event.start }} - {{ event.event.finish }}. {{ event.extra_info }}</li>
    {%  endfor %}
    </ol>
{% endblock %}
